---
dnac_host: sandboxdnac.cisco.com
dnac_port: 443  # optional, defaults to 443
dnac_username: "CHANGE_ME"
dnac_password: "CHANGE_ME"
dnac_version: 2.3.3.0  # See the collection Compatibility Matrix
dnac_verify: False  # optional, defaults to True
dnac_debug: False  # optional, defaults to False